* {
  margin: 0;
}


.signinform{
  display: flex;
  flex-direction: column;
}
.app {
  background-color: #fafafa;
  height: 100vh;
  width:100vw;
}
.appheader{
  display: flex;
  top:0;
  position:sticky;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1vmax;
}
.signincontainer{
  display: flex;
  width:15vw;
  justify-content: space-between;
}
.app__headerImage{
  height: 3vmax;
}